.trail-container {
    display: flex;
    background-image: url(../Trilha/Components/Trilha/Assets/TrilhaBackground.png);
    background-size: cover;
    background-position: center;
  }
  
  .content {
    margin-left: 250px; /* Ajusta para a largura da sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Compensa a largura da sidebar */
    background-color: #f0f4f8;
    min-height: 100vh;
  }
  