#header-section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F1F1F1;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.514);
}


#list {
    display: flex;
    align-items: center;
    gap: 47px;
}

#list-item {
    list-style: none;
}

#item-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20;
    color: #081469;
}

#list-botao-jornada {
    text-decoration: none;
    font-weight: 600;
    font-size: 20;
    color: #F1F1F1;
    background-color: #bb2f4d;
    padding: 0.7rem 1rem;
    border-radius: 10px;
}