/* src/components/LandingPage/Avaliacoes.css */
.avaliacoes {
    padding: 40px;
    text-align: center;
  }
  
  .avaliacoes-slider {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .avaliacao-item {
    background-color: #FFB703;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .avaliacao-item p {
    font-size: 1.2em;
    font-style: italic;
  }
  
  .avaliacao-item h4 {
    margin-top: 10px;
    font-size: 1em;
    font-weight: normal;
  }
  