/* src/components/LandingPage/Avaliacoes.css */
.avaliacoes {
  padding: 40px;
  text-align: center;
}

.avaliacoes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.avaliacao-item {
  background-color: #04066F; /* Azul da paleta */
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.avaliacao-foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avaliacao-item p {
  font-size: 1.2em;
  font-style: italic;
}

.botao-circle {
  background-color: #FFB703; /* Amarelo da paleta */
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-circle:hover {
  background-color: #FE8401; /* Laranja da paleta */
}

.botao-circle:focus {
  outline: none;
  background-color: #FE2B5C; /* Vermelho da paleta */
}
