/* src/components/LandingPage/CallToAction.css */
.call-to-action {
    background-color: #219EBC;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin: 40px 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #FFB703;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #fb8500;
  }
  